---
---

@import "{{ site.theme }}";

h1 {
  text-align: center;
}

div .phone {
  text-align: left;
  margin-left: 20px;
}

div .email {
  text-align: center;
}

div .address {
  text-align: right;
  margin-right: 20px;
}
