---
---

@import "{{ site.theme }}";

h1, h2, h3 {
    text-align: center;
}

div .center {
      display: flex;
      justify-content: center;
}

.certification-logo {
    height: 80px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
