---
---

@import "{{ site.theme }}";

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div .left-column {
    float: left;
    box-sizing: border-box;
    padding-right: 1rem;
    clear: both;
}

div .column-right {
    float: right;
    clear: right;
    margin-bottom: 1rem;
}
